@import '../variables';
@import '../mixins';

.catalog-product{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom:3rem;
    a:hover{
        text-decoration:none;
    }

    &__name{
        margin-left:1em;
    }
}

.catalog-product-name{
  text-transform: uppercase;
  a{
        color:color(text);
    }
    

  &__title{
      display: block;
    font-size:1.2em;
      margin-bottom: 0.5em;
      font-weight: bold;
      &:hover{
          color:$accent-color;
          transition:0.3s color;
      }
  }

  &__longtitle{
      display: block;
      font-size:0.9em;
      line-height: 20px;
  }


}
