@import '../variables';
@import '../mixins';

.category-list{
    font-size:1.1rem;
    @include clear-list;
    &__item{
        width:100%;
        margin-bottom:0.5em;
    }
    &__link{
        text-transform: uppercase;
        padding:0.5em;
        font-weight: bold;
        color: #C4C4C4;
        &:hover{
            text-decoration: none;
            color:$accent-color;
            transition: 0.3s color;
        }
        &.active{
            color:$accent-color;
        }
    }
}