@import '../variables';
@import '../mixins';

.category-title{
    font-size:2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.category-longtitle{
    font-size:1.2rem;
    text-transform: uppercase;
}
