@import '../variables';
@import '../mixins';

$margin-bottom:2rem;

.product-title{
    text-transform: uppercase;
    font-size:2rem;
}
.product-image-block{
    position: relative;    
    background-color: $accent-color;
    min-height:250px;
    margin-bottom: 150px;
    @media screen and (max-width:$media-xs) {
        margin-top: 80px;
    }
    &__image{
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height:350px;
        width:180px;
        // background-color: brown;
    }
}

.product-price{
    text-transform: uppercase;
    font-size:2rem;
    margin-bottom: 1em;
}

.product-pogonazh{
    $margin-bottom:1em;
    &__picture{
        display: block;
        height:40px;
        width: 100%;
        margin-bottom: $margin-bottom/2.5;
    }
    &__title{
        color:color(text);
        text-transform: uppercase;
        display: block;
        text-align: center;
        font-size:0.8rem;
        margin-bottom: $margin-bottom;
        word-break:break-all;
    }
}
