@import '../variables';
@import '../mixins';

.session-link-wrapper{
    padding:0.7em 0;
}

.session-link{
    font-size:0.8rem;
    color:color(text);
    @include hover-trans($accent-color);
    &__value{
        font-weight: bold;
    }
}