<div class="col-sm-5">
    <div class="catalog-product">
        {if $medium?}
        <a href="{$id | url}">
            <img class=" catalog-product__image" src="{$medium}" alt="{$pagetitle}" title="{$pagetitle}" />
        </a>
        {else}
        <a href="{$id | url}">
            <img class=" catalog-product__image"
                src="{'assets_url' | option}components/minishop2/img/web/ms2_small.png"
                srcset="{'assets_url' | option}components/minishop2/img/web/ms2_small@2x.png 2x" class="mw-100"
                alt="{$pagetitle}" title="{$pagetitle}" />
        </a>
        {/if}

        <div class="catalog-product-name catalog-product__name">
            <a class="catalog-product-name__title" href="{$id | url}">{$pagetitle}</a>
            <a class="catalog-product-name__longtitle" href="{$id | url}">{$longtitle}</a>
        </div>

    </div>
</div>