
<div class="product-image-block">
        <div class="product-image-block__image">
                <div id="msGallery">
                        {if $files?}
                        <div class="fotorama w-100" data-nav="thumbs" data-thumbheight="45" data-allowfullscreen="true"
                            data-swipe="true" data-autoplay="5000">
                    
                            {foreach $files as $file}
                            <a href="{$file['url']}" target="_blank">
                                    <img src="{$file['big']}" alt="" title="">            
                            </a>
                            {/foreach}
                    
                        </div>
                        {else}
                        <img src="{('assets_url' | option) ~ 'components/minishop2/img/web/ms2_medium.png'}"
                            srcset="{('assets_url' | option) ~ 'components/minishop2/img/web/ms2_medium@2x.png'} 2x" alt="" title="" />
                        {/if}
                    </div>

        </div>
    </div>
