<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!-- From siteExtra -->
{'MinifyX.javascript' | placeholder}
<script>
    $(document).ready(function () {
        // Removing AjaxForm success message
        if (typeof (AjaxForm) != 'undefined') {
            AjaxForm.Message.success = function () { };
        }
    });
    // Show AjaxForm success message in modal
    $(document).on('af_complete', function (event, response) {
        var form = response.form;
        if (response.success) {
            $.fancybox.close();
            $.fancybox.open('<div class="popup" id="popup-call"><div class="popup-title">' + response.message + '</div></div>');
        }
    });
</script>

<!-- from file -->