<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="catalog-category-card one-col-block_xs">
        <a class="catalog-category-card__link" href="[[~[[+id]]]]">
            <img class="img-fluid catalog-category-card__thumbnail" src="[[+img:phpthumbon=`w=350&h=200&zc=1`]]"
                alt="catalog-category">
            <p class="catalog-category-card__title">[[+pagetitle]]</p>
        </a>
    </div>
</div>