<header class="header home-section">
        {include 'nav_ul'}
        <div class="container first">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header__picture">
                        <img class="img-fluid" src="uldoors/img/header-picture.png" alt="Door">
                    </div>
                </div>
            </div>
        </div>
    </header>