<!-- Clients Section -->
<section class="home-section">
    <div class="container">
        <section class="section__child">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <header>
                        <h2 class="section-headline">
                            <span class="section-headline__marker"></span>
                            Клиентам
                        </h2>
                    </header>
                    <article class="phrase one-col-block_sm">
                        <p style="font-size: 1.1rem;">
                            <strong>Улдорс – ульяновская фабрика дверей</strong>. Двери из этого региона славятся своим
                            качеством
                            уже
                            много лет. Уже 13 лет мы работаем для наших клиентов и предлагаем качественные двери
                            собственного производства.
                        </p>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="sticker">
                        <p class="sticker__text">
                            Двери под заказ со сроком изготовления до двух недель или в наличии на складе
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Info -->
        <section class="section__child">
            <div class="row">
                <div class="col-lg -4 col-md-4 col-sm-4">
                    <div class="info">
                        <img class="info__ico" src="uldoors/img/icons/node-square.svg" alt="icon">
                        <p class="info__text"><strong>2000 м<sup>2</sup></strong><br>производственных<br>площадей</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="info">
                        <img class="info__ico" src="uldoors/img/icons/monets.svg" alt="icon">
                        <p class="info__text"><strong>Мы – производитель</strong>. За счет нашей цены дешевле и<br>
                            выгоднее
                            общаться напрямую с
                            фабрикой на всех этапах сделки</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="info">
                        <img class="info__ico" src="uldoors/img/icons/node-square.svg" alt="icon">
                        <p class="info__text"><strong>2004 г – момент основания фабрики</strong><br> и принятия трех
                            правил
                            компании:
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info">
                        <img class="info__ico" src="uldoors/img/icons/Union.svg" alt="icon">
                        <p class="info__text">
                            <strong>
                                1. Использование натуральных массивов<br>
                                2. Ориентация на скорость изготовления<br>
                                3. Качественные двери по низким ценам
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- Make your style section -->
<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <header>
                    <h2 class="section-headline">
                        <span class="section-headline__marker"></span>
                        Создайте свой стиль с нашими дверями
                    </h2>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <article class="one-col-block_md" style="font-size: 2rem;">
                    <p><strong>Заказав наши двери вы получаете<br>решение всех дверных вопросов:<br>от выбора двери
                            перед <br>
                            покупкой до установки дверей<br> «под ключ»</strong></p>
                </article>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="sticker">
                    <form class="form-call">
                        <div class="form-group">
                            <header class="sticker__text" style="margin-bottom:1em;">1 час на ответ!</header>
                            <label>Получив запрос на двери, мы cвязываемся с Вами в течение часа</label>
                        </div>
                        <div class="form-group">
                            <input type="name" class="form-control" placeholder="Имя">
                            <input type="phone" class="form-control" placeholder="Номер">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label style="margin-bottom:1em;" class="form-check-label" for="exampleCheck1">Даю
                                согласие на обработку персональных данных</label>
                        </div>
                        <button type="submit"
                            class="btn btn-call-order btn-call-order_dark btn-call-order_center">Перезвоните
                            мне</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Characteristics -->
<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="div col-md-4 col-sm-12">
                <div class="info">
                    <img class="info__ico" src="uldoors/img/icons/node-square.svg" alt="icon">
                    <p class="info__text">
                        Сроки изготовления под заказ – <strong>менее 2-х недель</strong>
                    </p>
                </div>
            </div>
            <div class="div col-md-4 col-sm-12">
                <div class="info">
                    <img class="info__ico" src="uldoors/img/icons/node-square.svg" alt="icon">
                    <p class="info__text">
                        <strong>Более 4-х вариантов</strong> оплаты
                    </p>
                </div>
            </div>
            <div class="div col-md-4 col-sm-12">
                <div class="info">
                    <img class="info__ico" src="uldoors/img/icons/node-square.svg" alt="icon">
                    <p class="info__text">
                        Высокое <strong>качество</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- We want to you section -->
<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <header>
                    <h2 class="section-headline">
                        <span class="section-headline__marker"></span>
                        Мы хотим, чтобы Вы:
                    </h2>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="uldoors/img/19.png" alt="19.png" class="img-fluid">
            </div>
            <div class="col-md-6 col-sm-12">
                <ol class="list" style="font-weight: bold; font-size: 1.5rem;">
                    <li class="list__item">Не смогли удержаться и не порекомендовать наши двери друзьям</li>
                    <li class="list__item">Решили дверной вопрос максимально быстро </li>
                    <li class="list__item">Заплатили за качественные двери действительно «разумные деньги»</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- Сatalog  section -->
<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <header>
                    <h2 class="section-headline">
                        <span class="section-headline__marker"></span>
                        Каталог
                    </h2>
                </header>
            </div>
        </div>
        <div class="row">
            [[pdoResources?
            &limit=`10`
            &depth=`0`
            &parents=`26`
            &includeTVs=`img`
            &processTVs=`1`
            &tvPrefix=``
            &tpl=`catalog-category-card`
            &sortdir=`asc`
            ]]

            <!-- <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="catalog-category-card one-col-block_xs">
                        <a href="#">
                            <img class="img-fluid catalog-category-card__thumbnail"
                                src="uldoors/img/catalog/15-4041-1xxl.png" alt="catalog-category">
                        </a>
                        <a class="link catalog-category-card__title" href="#">
                            Серия &laquo;триплекс&raquo;
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="catalog-category-card one-col-block_xs">
                        <a href="#">      
                            <img class="img-fluid catalog-category-card__thumbnail"
                                src="uldoors/img/catalog/bigger-img-catalog.jpg" alt="catalog-category">
                        </a>
                        <a class="link catalog-category-card__title" href="#">
                            Серия &laquo;триплекс&raquo;
                        </a>
                    </div>
                </div> -->
        </div>
    </div>
</section>
<!-- Call to action section -->
<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="uldoors/img/logo-black.svg" alt="logo">
            </div>
            <div class="col-md-9">
                <h2 style="margin-top: 1em;line-height:1.2;text-transform: uppercase;">
                    Приходите в новый павильон <strong>«Пассаж»</strong><br>на территории Птичьего рынка
                </h2>
                <div style="font-size: 1.1rem;">
                    <br>
                    <p>Торговый центр «Пассаж», Ново-Вокзальная, 2а/1</p>
                    <p>Ежедневно 09:00–19:00</p>
                    <p>8-846-254-07-52</p>
                    <a href=""></a>
                    <p><a href="mailto:samara@dveri-uldoors.ru">samara@dveri-uldoors.ru</a></p>
                </div>
            </div>
        </div>
    </div>
</section>