<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="[[++site_url]]">
        <img class="logo_navbar" src="uldoors/img/logo-black.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">          
                {'pdoMenu' | snippet : [
                'startId' => 0,
                'level' => 1,
                'tplOuter' => '@INLINE [[+wrapper]]',
                'tpl' => '@INLINE <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="[[+link]]">[[+menutitle]]</a>
                    <span class="navbar-nav__bottom-strip"></span>
                    [[+wrapper]]
                </li>',
                'tplInner' => '@INLINE <div class="dropdown-menu" aria-labelledby="navbarDropdown">[[+wrapper]]</div>'
                'tplInnerRow' => '@INLINE <a class="dropdown-item" href="[[+link]]">[[+menutitle]]</a>
                [[+wrapper]]',
                'tplParentRow' => '@INLINE  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="[[+link]]" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[[+menutitle]]</a>
                    [[+wrapper]]
                </li>
                ',
                ]} 
            


            <!-- <li class="nav-item navbar-nav__item active">
                <a class="nav-link navbar-nav__link" href="#">Главная
                    <span class="sr-only">(current)</span>
                </a>
                <span class="navbar-nav__bottom-strip"></span>
            </li> -->
            <!-- <li class="nav-item navbar-nav__item">
                <a class="nav-link navbar-nav__link" href="#">Межкомнатные двери</a>
                <span class="navbar-nav__bottom-strip"></span>
            </li>
            <li class="nav-item navbar-nav__item">
                <a class="nav-link navbar-nav__link" href="#">АКЦИИ</a>
                <span class="navbar-nav__bottom-strip"></span>
            </li>
            <li class="nav-item navbar-nav__item">
                <a class="nav-link navbar-nav__link" href="#">Где купить</a>
                <span class="navbar-nav__bottom-strip"></span>
            </li> -->
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item navbar-nav__item contact">
                <a class="nav-link navbar-nav__link"
                    href="mailto:samara@dveri-uldoors.ru">samara@dveri-uldoors.ru</a>
            </li>
            <li class="nav-item navbar-nav__item contact">
                <a class="nav-link navbar-nav__link" href="tel:8-846-254-07-52">8-846-254-07-52</a>
            </li>
            <li class="nav-item navbar-nav__item">
                <a class="navbar-nav__link btn btn-call-order btn-call-order_light" href="#"
                    role="button">Заказать звонок</a>
            </li>
        </ul>
    </div>
</nav>