@mixin clear{
    margin: 0;
    padding: 0;
}

@mixin clear-list{
    @include clear;
    list-style: none;   
}

@mixin flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin nav-link {
    font-weight: bold;
    color: color(text);
    &:hover{
        text-decoration:none;
        color:color(text_light);
    }
}
@mixin hover-trans($color){
    &:hover{
        text-decoration:none;
        color:$color;
        transition:0.3s color;
    }
}