@import 'variables';
@import 'mixins';

.breadcrumb-start-marker{
     width:84px;
     margin-right: 1em;
}

.breadcrumb{
    font-size:0.75rem;
    font-weight: bold;
    padding: 1em 0;
    // margin:0;
    background:inherit;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 1em;
    color:$accent-color;
    content: ">";
}

.breadcrumb-item+.breadcrumb-item {
    padding-left:1em;
}

.breadcrumb-item.active {
    font-weight: normal;
    color: color(text);
}

.breadcrumb-item a {
    padding:1em 0;
    color: $accent-color;
    &:hover{
        color:color(text);
        transition: $transition-time color;
    }
}