@import 'variables';
@import 'mixins';



.btn-call-order{
    font-size:0.8rem;
    font-weight: bold;
    text-transform:uppercase;
    border-radius: 100px;

    line-height: 0;
    padding-top:15px;
    padding-bottom:13px;
    @media screen and (min-width: $media-sm) and (max-width:920px){
        line-height: 1.2;
    }

    &_light{
        background:$accent-color;
        &:hover{
            background:#fff;
            color:#000;
            border:1px solid $accent-color;
            transition: $transition-time/2 background-color;
        }
    }
    &_dark{
        background:#000;
        color:#fff;
        &:hover{
            background:#fff;
            color:#000;
        }
    }
    &_center{
        display: block;
        margin: 0 auto;
    }
}


