@import 'variables';
@import 'mixins';

.catalog-category-card{
    margin-bottom: 1rem;

    &__link{
        color:color(text);
        text-decoration:none;
        &:hover{
            color:#fff;
            text-decoration:none;
            transition: 0.3s color;
        }
                
    }

    &__thumbnail{
        width:100%;
        margin-left:1em;
        margin-bottom:-1em;
    }
    
    &__title{
        position:relative;
        background:$accent-color;
        padding:1em;
        text-transform: uppercase;
    }    
}