@import 'variables';
@import 'mixins';

.contact{
    font-size:1rem;
    $color:#fff;
    @include nav-link;
}

.contact-logo{
    @media screen and (max-width:$media-sm){
        max-width:75%;
    }
}