@import 'variables';
@import 'mixins';


.header{
    &-picture{    
        background: url(../img/header-picture.png) #000 no-repeat;
        background-size: cover;
        background-position: left top;
        height:100vh;
        @media screen and (max-width:$media-xs){
            background: url(../img/header-picture_mob.png) #000 no-repeat;
            background-size: cover;            
        }
    }

}