@import 'variables';
@import 'mixins';

.info{
    display: flex;
    flex-direction: row;
    border-top:1px solid color(text);
    line-height:$other-line-height;
    font-size: 1.3rem;
    padding:$padding-tb-border 0;
    &__ico{
        height:2.5em;
    }
    &__text{
        padding-left:1em;
    }
}