@import 'variables';
@import 'mixins';
// @import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=cyrillic');

@font-face {
    font-family: "Circe";
    src: url("../fonts/circe-regular.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}


/*
Project is styled using Bootstrap
Requires Bootstrap v4.3.1 (https://getbootstrap.com/)
*/
html,body{
    font-family: 'Circe', sans-serif;
    font-size:16px;
}

h1,h2,h3,h4,h5,h6,p{
    @include clear;
}

.wrapper{
    max-width:1280px;
    margin: 0 auto;
}

/*First block after navbar requires top indent to show itself. Top indent = Navbar height*/
.first{
    padding-top:$navbar-height;
}

//!!!!Move to separated file!
.sticker{
    background:$accent-color;
    padding: $padding-sticker;
    &__text{
        font-weight:900;
        line-height:1.2;
    }
}
.section{
    margin-bottom:$margin-bottom-section;
    &__child{
        margin-bottom:$margin-bottom-section__child;
    }
}

.home-section{
    margin-bottom:100px;
}

.link{
    color:color(text);
    text-decoration:none;
    &:hover{
        color:$accent-color;
        text-decoration:none;
        transition: 0.3s color;
    }
}
