@import "_variables.scss";
@import "_mixins.scss";


$link-color:#000;

.navbar{
    font-weight: bold;
    background:#fff;
    padding: 0 1rem;
    @media screen and (max-width:$media-sm){
        padding: 0.5rem 1rem;
    }
}

.navbar-expand-md .navbar-nav .nav-link {
    // padding-right: 0;
    // padding-left: 0;
  }


.navbar-nav{
    &__item{
        position: relative;      
        &:hover{
            .navbar-nav__bottom-strip{
                opacity: 1;
            }
        }
        &:last-child{
            // margin-right:0;
        }
        @media screen and (max-width:$media-sm){
            margin: 0 auto;
        }
    }

    &__link{
        color:$link-color;
    }

    &__link:hover{
        color:$link-color;        
    }

    .active &__link  {
        color:#adadad;
    }

    &__bottom-strip{
        position: absolute;
        height:2px;
        width:100%;
        bottom:0;
        display: block;      
        background-color:$link-color;
        opacity: 0;
        transition: .5s opacity;
        
    }
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
