@import 'variables';
@import 'mixins';

.section-headline{
    color:$accent-color;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:1em;
    @media screen and (max-width:$media-sm) {
        font-size:1.7rem;
    }

    &__marker{
        display:inline-block;
        background: url('../img/cut-rectangle.png') no-repeat;
        height:20px;
        width:101px;
    }
}